customer support via chatbot/customer support via chatbot
{
  "name": "Customer support via chatbot",
  "nodes": [
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [384, 208],
      "id": "data-loader",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [480, 352],
      "id": "text-splitter",
      "name": "Text Splitter"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [1168, -16],
      "id": "chat-trigger",
      "name": "Chat Trigger",
      "webhookId": "REPLACE_WITH_YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.4-mini",
          "mode": "list",
          "cachedResultName": "gpt-5.4-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [1280, 176],
      "id": "openai-chat",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_YOUR_OPENAI_CREDENTIAL",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [{ "mode": "everyMinute" }]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "REPLACE_WITH_YOUR_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "your-folder",
          "cachedResultUrl": ""
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [-32, 0],
      "id": "drive-trigger",
      "name": "Detect New Document",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GOOGLE_DRIVE_CREDENTIAL",
          "name": "Google Drive Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [176, 0],
      "id": "drive-download",
      "name": "Download Document",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GOOGLE_DRIVE_CREDENTIAL",
          "name": "Google Drive Account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [864, 352],
      "id": "embeddings",
      "name": "Embeddings",
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_YOUR_OPENAI_CREDENTIAL",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "your-index-name",
          "mode": "list",
          "cachedResultName": "your-index-name"
        },
        "options": {
          "pineconeNamespace": "your-namespace"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [384, 0],
      "id": "pinecone-insert",
      "name": "Vector Store Insert",
      "credentials": {
        "pineconeApi": {
          "id": "REPLACE_WITH_YOUR_PINECONE_CREDENTIAL",
          "name": "Pinecone Account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrieve relevant documents",
        "pineconeIndex": {
          "__rl": true,
          "value": "your-index-name",
          "mode": "list",
          "cachedResultName": "your-index-name"
        },
        "options": {
          "pineconeNamespace": "your-namespace"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [1456, 208],
      "id": "pinecone-retrieve",
      "name": "Vector Store Retrieve",
      "credentials": {
        "pineconeApi": {
          "id": "REPLACE_WITH_YOUR_PINECONE_CREDENTIAL",
          "name": "Pinecone Account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful customer support assistant. Answer clearly and based on retrieved documents. If unsure, ask for clarification."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [1376, -16],
      "id": "chatbot-agent",
      "name": "Customer Support Chatbot"
    }
  ],
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Vector Store Insert",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Customer Support Chatbot",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Customer Support Chatbot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect New Document": {
      "main": [
        [
          {
            "node": "Download Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Document": {
      "main": [
        [
          {
            "node": "Vector Store Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Vector Store Retrieve",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Vector Store Insert",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retrieve": {
      "ai_tool": [
        [
          {
            "node": "Customer Support Chatbot",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  }
}